@import "./code.scss";

article {
  margin: 0 2rem;
}

.article-header {
  display: grid;
  align-items: end;
  grid-template-columns: 2fr 150px;
  h1 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
  }
  h4.date {
    margin-bottom: 1rem;
  }
  h4 {
    margin-bottom: 0;
  }
  img {
    margin: 0;
  }
  margin-bottom: 80px;
}
