@import "../base/variables";
@import "../base/mixins";

header {
  width: 100%;
  nav {
    max-width: $site-width;
    height: 160px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2,
    h3 {
      display: inline-block;
      margin: 0;
    }

    h3 {
      font-size: 1.2rem;
    }

    a {
      text-decoration: none;
      @include layout-link;
    }
    .brand {
      a {
        display: flex;
        align-items: center;
      }
      .logo {
        display: inline-block;
        width: 32px;
        margin-bottom: 0;
        margin-right: 15px;
      }
    }
  }
}
