@import "../base/variables";

header {
  width: 100%;
  nav {
    max-width: $site-width;
    height: 160px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      display: inline-block;
      margin: 0;
    }
    .brand {
      a {
        display: flex;
        align-items: center;
        padding: 0;
        text-decoration: none;

        h2 {
          color: #071125;
          &:hover {
            background: linear-gradient(90deg, #071125, #ad232f);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            box-decoration-break: none;
          }
        }
      }
      .logo {
        display: inline-block;
        width: 32px;
        margin-bottom: 0;
        margin-right: 15px;
      }
    }
  }
}
