@import "../base/variables";

header {
  left: 0;
  width: 100%;
  position: fixed;
  background: #fff;
  z-index: 5;
  transition: all 0.2s linear;

  &.scroll {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    nav {
      height: 80px;
      padding: 0 2rem;
      h2 {
        font-size: 1.5rem;
      }
    }
  }

  nav {
    transition: all 0.2s linear;
    margin: 0 30px;
    max-width: $site-width;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      display: inline-block;
      margin: 0;
    }
    .brand {
      a {
        display: flex;
        align-items: center;
        padding: 0;
        text-decoration: none;

        h2 {
          color: #071125;
          &:hover {
            background: linear-gradient(90deg, #071125, #ad232f);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            box-decoration-break: none;
          }
        }
      }
      .logo {
        display: inline-block;
        width: 32px;
        margin-bottom: 0;
        margin-right: 15px;
      }
    }
    .links {
      button {
        width: 30px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        padding: 0;
        cursor: pointer;
        outline: 0;
        img {
          width: 100%;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 860px) {
  header {
    nav {
      padding: 0 30px;
    }
  }
}
