@import "../base/variables";

.articles-list {
  .each-article {
    display: grid;
    grid-template-columns: 60px 2fr auto;
    align-items: center;
    padding: 1rem 1.25rem;
    border-bottom: solid 1px rgba($text-color, 0.1);
    &:hover {
      background-color: rgba($text-color, 0.05);
      border-radius: 5px;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  a h3 {
    color: scale-color($color: $header-color, $lightness: 50%);
  }
  h3 {
    margin: 0;
  }
  img {
    position: relative;
    margin: 0;
  }
}
